<head>
  <meta charset="UTF-8">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        &#127881 Tech Blog! &#127881
      </h1>
      <nav>
        <a href="/login">Log In</a>
        <a href="/signup">Sign Up</a>
        <a href="/homepage">Home Page</a>
        <a href="/dashboard">Dash Board</a>
        <a>Log Out</a>
      </nav>
    </header>
      <main class="container container-fluid mt-5">
      
     {{{ body }}}
      </main>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"></script>
  </body>

</html>


